<div class="head">
    <div class="header">
    
                                                <!-- LOGO -->
        <div class="logo" closeMenu()> 
                <button routerLink="">
            Shuup
            <div class="star-1">
                <svg
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 784.11 815.53"
                style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                version="1.1"
                xml:space="preserve"
                xmlns="http://www.w3.org/2000/svg"
                >
                <defs></defs>
                <g id="Layer_x0020_1">
                    <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                    <path
                    d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                    class="fil0"
                    ></path>
                </g>
                </svg>
            </div>
            <div class="star-2">
                <svg
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 784.11 815.53"
                style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                version="1.1"
                xml:space="preserve"
                xmlns="http://www.w3.org/2000/svg"
                >
                <defs></defs>
                <g id="Layer_x0020_1">
                    <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                    <path
                    d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                    class="fil0"
                    ></path>
                </g>
                </svg>
            </div>
            <div class="star-3">
                <svg
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 784.11 815.53"
                style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                version="1.1"
                xml:space="preserve"
                xmlns="http://www.w3.org/2000/svg"
                >
                <defs></defs>
                <g id="Layer_x0020_1">
                    <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                    <path
                    d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                    class="fil0"
                    ></path>
                </g>
                </svg>
            </div>
            <div class="star-4">
                <svg
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 784.11 815.53"
                style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                version="1.1"
                xml:space="preserve"
                xmlns="http://www.w3.org/2000/svg"
                >
                <defs></defs>
                <g id="Layer_x0020_1">
                    <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                    <path
                    d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                    class="fil0"
                    ></path>
                </g>
                </svg>
            </div>
            <div class="star-5">
                <svg
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 784.11 815.53"
                style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                version="1.1"
                xml:space="preserve"
                xmlns="http://www.w3.org/2000/svg"
                >
                <defs></defs>
                <g id="Layer_x0020_1">
                    <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                    <path
                    d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                    class="fil0"
                    ></path>
                </g>
                </svg>
            </div>
            <div class="star-6">
                <svg
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 784.11 815.53"
                style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                version="1.1"
                xml:space="preserve"
                xmlns="http://www.w3.org/2000/svg"
                >
                <defs></defs>
                <g id="Layer_x0020_1">
                    <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                    <path
                    d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                    class="fil0"
                    ></path>
                </g>
                </svg>
            </div>
            </button>
    
        </div>
    
                                                            <!-- MENU -->
    
        <div class="menu">
            <div class="bigscreen">
                @if(!isLoggedIn()){
                    <p routerLink="/signup">Login</p> 
                }@else {

                    <div class="menu">
                    <div class="item">
                        <div class="profile">
                        <span>ussername</span>
                        <svg viewBox="0 0 360 360" xml:space="preserve">
                            <g id="SVGRepo_iconCarrier">
                            <path
                                id="XMLID_225_"
                                d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"
                            ></path>
                            </g>
                        </svg>
                    </div>
                        <div class="submenu">
                        <div class="submenu-item" routerLink="/profile">
                            <p class="submenu-link"> Profile </p>
                        </div>
                        <div class="submenu-item" routerLink="/products">
                            <p class="submenu-link"> Market </p>
                        </div>
                        <div class="submenu-item">
                            <p class="submenu-link" routerLink="/wishlist"> WishList </p>
                        </div>
                        <div class="submenu-item" (click)="logout()" routerLink="/signup">
                            <p class="submenu-link"> LogOut </p>
                        </div>
                        </div>
                    </div>
                    </div>
                }
                <div class="cart-wrapper" routerLink="/cart">
                    <svg class="cart-icon" ...>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="30"
                                height="30"
                                viewBox="0 0 26 26"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                >
                                <circle cx="9" cy="21" r="1"></circle>
                                <circle cx="20" cy="21" r="1"></circle>
                                <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                        </svg>
    
                    </svg>
                    <span class="cart-count">{{cartCount}}</span>
                </div>
    
    
    
            </div>
            <div class="smallscreen">
                <div class="dropdown" id="dropDown">
                    <label class="hamburger">
                    <input type="checkbox" placeholder="menu" (click)="toggleMenu()">
                    <svg viewBox="0 0 32 32">
                        <path class="line line-top-bottom" d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"></path>
                        <path class="line" d="M7 16 27 16"></path>
                    </svg>
                    </label>
                </div>
    
               @if (isMenuOpen) {
                <div class="menuContent">
                    <hr>
                    <ul>
                        @if (isLoggedIn()) {
                            <li (click)="closeMenu()" routerLink="/products">Market</li>
                            <li (click)="closeMenu()" routerLink="/wishlist">WishList</li>
                            <li (click)="closeMenu()" routerLink="/profile">Profile</li>
                        }@else {
                            <li (click)="closeMenu()" routerLink="/products">Market</li>
                            <p>sign in to access more future</p>
                        }
                    </ul>
                    <div class="downsection">
                        @if (isLoggedIn()) {
                            <div class="div" routerLink="/signup" (click)="closeMenu()" (click)="logout()">LogOut</div>
                        }@else {
                            <div class="div" routerLink="/signup" (click)="closeMenu()">Login</div>
                        }
                        <div class="cart-wrapper" routerLink="/cart" (click)="closeMenu()">
                    <svg class="cart-icon" ...>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="30"
                                height="30"
                                viewBox="0 0 26 26"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                >
                                <circle cx="9" cy="21" r="1"></circle>
                                <circle cx="20" cy="21" r="1"></circle>
                                <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                        </svg>
    
                    </svg>
                    <span class="cart-count">{{cartCount}}</span>
                </div>
                    </div>
                </div>
               }@else {
                <div></div>
               }
                
            </div>
        </div>
    </div>
    
</div>